<!DOCTYPE html>
<html>
<head>
<title>{% block title %}MagIRC - {% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<meta name="Keywords" content="MagIRC IRC Chat Statistics Denora stats phpDenora" />
<meta name="Description" content="IRC Statistics powered by MagIRC" />
<base href="{{ constant('BASE_URL') }}" />
<link rel="icon" href="../favicon.ico" type="image/x-icon">
{% block css %}
<link href="../node_modules/jquery-ui-themes/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="../node_modules/datatables.net-jqui/css/dataTables.jqueryui.min.css" rel="stylesheet" type="text/css" />
<link href="css/font.css" rel="stylesheet" type="text/css" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
{% endblock %}
</head>
<body>
{% block body %}
<div id="header">
    <a href="./"><img src="img/magirc.png" alt="MagIRC" title="" id="logo" /></a>
    <div id="menu">
        <ul>
            <li><a href="index.php/overview"{% if section == 'overview' %} class="active"{% endif %}><span>&nbsp;Overview</span></a></li>
            <li><a href="index.php/configuration"{% if section == 'configuration' %} class="active"{% endif %}><span>&nbsp;Configuration</span></a></li>
            <li><a href="index.php/support"{% if section == 'support' %} class="active"{% endif %}><span>&nbsp;Support</span></a></li>
        </ul>
    </div>
    <div id="loading"><img src="img/loading.gif" alt="loading..." /></div>
</div>
<div id="main">{% block content %}[content placeholder]{% endblock %}
</div>
<div id="footer">powered by <a href="http://www.magirc.org/">MagIRC</a> v{{ constant('VERSION_FULL') }}-{{ cfg.service }}</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="../node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../node_modules/jquery-ui-dist/jquery-ui.min.js"></script>
<script type="text/javascript" src="../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../node_modules/jquery-form/src/jquery.form.js"></script>
<script type="text/javascript">
var url_base = '{{ constant('BASE_URL') }}';
$(document).ready(function() {
    $("#loading").ajaxStart(function(){
        $(this).show();
    }).ajaxStop(function(){
        $(this).hide();
    });
});
</script>
{% endblock %}
</body>
</html>
