{% extends "layout.twig" %}

{% block title %}{{ parent() }}Support{% endblock %}

{% block content %}
<div id="tabs">
    <ul>
        <li title="readme"><a href="index.php/support/doc/readme">README</a></li>
        <li title="resources"><a href="index.php/support/doc/support">Resources</a></li>
        <li title="rest"><a href="index.php/support/doc/REST">Web Service Reference</a></li>
        <li title="credits"><a href="index.php/support/doc/credits">Credits</a></li>
        <li title="license"><a href="index.php/support/doc/license">License</a></li>
    </ul>
</div>
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    $( "#tabs" ).tabs({
        beforeActivate: function(event, ui) {
            window.location.hash = ui.newTab.attr('title');
        },
        beforeLoad: function(event, ui) {
            if (window.location.hash) {
                var title = window.location.hash.substring(1, window.location.hash.length);
                $("li[title='"+title+"'] a").trigger("click");
            }
            if (ui.tab.data("loaded")) {
                event.preventDefault();
                return;
            }
            ui.jqXHR.done(function() {
                ui.tab.data("loaded", true);
            });
            ui.jqXHR.fail(function() {
                ui.panel.html(mLang.LoadError);
            });
        }
    });
});
</script>
{% endblock %}
