html { background:#444 url("../img/bg.png") repeat; }
body { margin:0; padding:0; font-family:'Share', Verdana, Arial; font-size:13px; color:#333; }

img,td,th{border:0}
img#logo{padding:18px 25px 0px 5px;float:left;}
h1,h2,h3,h4,h5,h6{color:#333;}

div#header { padding:0 10px; margin:0px auto 5px auto; width:880px; height:75px; }
div#menu { float:left; margin:0; padding:0; }
div#menu ul { list-style:none; margin:0; padding:0; }
div#menu li { display:inline; margin:0; padding:0; }
div#menu a {
	float:left;
	height:30px;
	width:150px;
	padding-top:45px;
	display:block;
	text-decoration:none;
	color:white;
	font-size:18px;
	text-shadow: #333 1px 1px;
	-webkit-transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
    -moz-transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
    -o-transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
    transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
}
div#menu a:hover { color:orange; background-color:rgba(255,255,255,0.2); }
div#menu a.active { color:orange; }
div#main {
	width:900px;
	margin:5px auto;
	padding:0;
	background-color:white;
	border-radius:8px;
	min-height:500px;
	-moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
	box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
}
div.ui-tabs-panel a, div.ui-tabs-panel a:visited { color:#000099; }
div.ui-tabs-panel a:hover, div.ui-tabs-panel a:active { color:#000033; text-decoration:none; }
div.ui-tabs { padding: 0; }
div.ui-tabs .ui-corner-all { border-radius: 4px 4px 0 0; }
div#footer {
	font-size:x-small;
	color:#FCFCFC;
	padding:0px 5px 10px 5px;
	margin:0px auto 10px auto;
	width:890px;
}
div#footer a, div#footer a:visited { color:#FCFCFC; font-size:12px; font-weight:bold; text-decoration:none; }
div#footer a:hover, div#footer a:active { color:#FFFFFF; text-decoration:underline; }
div#footer table { width: 100%; }
div#footer table tr td { width:33%; }
div#loading { display:none; float:right; margin-top:25px; }

div.halfleft { width:49%; float:left; }
div.halfright { width:49%; float:right; }
div.choser { text-align:right; margin-bottom:10px; }
div.motd {
	border:1px solid #ccc;
	margin:15px 5px 0 5px;
	padding:5px;
	height:300px;
	overflow:scroll;
}
div.motd pre { font-family:"Courier New", Courier, monospace; }
div.topic { border:1px dashed #ccc; padding:10px; font-family:"Courier New", Courier, monospace; }
span.val { color:#0066CC; }
div.clear { clear:both; }
table.details th { text-align:left; vertical-align:top; }
