{% extends "layout.twig" %}

{% block title %}{{ parent() }}{% trans "Servers" %}{% endblock %}

{% block content %}
<div id="tabs">
	<ul>
		<li title="servers"><a href="index.php/server/list">{% trans "Servers" %}</a></li>
        <li title="history"><a href="index.php/server/history">{% trans "History" %}</a></li>
	</ul>
</div>
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
	$("#tabs").tabs({
		beforeActivate: function(event, ui) {
			window.location.hash = ui.newTab.attr('title');
		},
		beforeLoad: function(event, ui) {
			if (window.location.hash) {
				var title = window.location.hash.substring(1, window.location.hash.length);
				$("li[title='"+title+"'] a").trigger("click");
			}			
			if (ui.tab.data("loaded")) {
				event.preventDefault();
				return;
			}
			ui.jqXHR.success(function() {
				ui.tab.data("loaded", true);
			});
			ui.jqXHR.error(function() {
				ui.panel.text(mLang.LoadError);
			});
		}
	});
});
</script>
{% endblock %}