<h1>{% trans %}User info for {{ target }}{% endtrans %}</h1>

<table id="tbl_details" class="details">
	<tr><th>{% trans "Nickname" %}:</th><td><span id="user_nick" class="val"></span></td></tr>
	{%if not cfg.hide_nickaliases %}<tr><th>{% trans "Aliases" %}:</th><td><span id="user_aliases" class="val"></span></td></tr>{% endif %}
	<tr><th>{% trans "Stats Username" %}:</th><td><span id="user_uname" class="val"></span></td></tr>
	<tr><th>{% trans "Real name" %}:</th><td><span id="user_realname" class="val"></span></td></tr>
	<tr><th>{% trans "Hostname" %}:</th><td><span id="user_hostname" class="val"></span></td></tr>
	<tr><th>{% trans "Server" %}:</th><td><span id="user_server" class="val"></span></td></tr>
	<tr><th>{% trans "Connecting from" %}:</th><td><span id="user_cityregion" class="val"></span><span id="user_country" class="val"></span></td></tr>
	<tr><th>{% trans "Client" %}:</th><td><span id="user_client" class="val"></span></td></tr>
	<tr><th>{% trans "Status" %}:</th><td><span id="user_status" class="val"></span><span id="user_status_extra"></span></td></tr>
</table>
<div id="nodata" style="display:none;">{% trans "Information for this user currently unavailable" %}</div>

<script type="text/javascript">
$(document).ready(function() {
    $.getJSON('rest/service.php/users/'+mode+'/'+target, function(result) {
		if (result) {
			var aliases = '', status = '', status_extra = '';
			$("#user_nick").text(result.nickname);
			$.each(result.aliases, function(key, value) {
				aliases += value + '<br \/>';
			});
			$("#user_aliases").text(aliases ? aliases : '-');
			$("#user_uname").text(result.uname);
			$("#user_realname").text(result.realname);
			status = getUserStatus(result);
			if (result.online) {
				if (result.away && result.away_msg) status_extra += '<br \/>'+mLang.Message+': ' + escapeTags(result.away_msg);
				status_extra += '<br \/>'+mLang.ConnectedSince+' ' + $.format.date(result.connect_time, format_datetime);
			} else {
				if (result.lastquit_time) status_extra += '<br \/>'+mLang.LastQuit+' ' + $.format.date(result.quit_time, format_datetime);
				if (result.lastquit_msg) status_extra += '<br \/>'+mLang.Message+' ' + escapeTags(result.quit_msg);
			}
			status += getUserExtra(result);
			$("#user_status").html(status);
			$("#user_status_extra").html(status_extra);
            if (result.ipv6) {
                $("#user_hostname").text(result.hostname + ' (IPv6)');
            } else {
                $("#user_hostname").text(result.hostname);
            }
			$("#user_server").html('<a href="'+url_base+'server/'+result.server+'/profile">'+result.server+'<\/a>');
            if (result.city){
                $("#user_cityregion").text(result.city + ', ' + result.region + ' ');
            }
			$("#user_country").html(getCountryFlag(result)+' '+result.country);
			$("#user_client").text(result.client);
		} else {
			$("#tbl_details").hide();
			$("#nodata").show();
		}
	});
});
</script>
