html {
	background:white url("../img/bg.png") repeat;
}
body { margin:0; padding:0; font-family:'Share', Verdana, Arial; font-size:13px; color:#222; }

img,td,th{border:0}
img#logo{padding:18px 25px 0px 5px;float:left;}
h1,h2,h3,h4,h5,h6{color:#222;}

div#header { padding:0 10px; margin:0px auto 5px auto; width:880px; height:75px; }
div#menu { float:left; margin:0; padding:0; }
div#menu ul { list-style:none; margin:0; padding:0; }
div#menu li { display:inline; margin:0; padding:0; }
div#menu a {
	float:left;
	height:30px;
	width:150px;
	padding-top:45px;
	display:block;
	text-decoration:none;
	color:#777;
	font-size:18px;
	-webkit-transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
    -moz-transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
    -o-transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
    transition: background 200ms ease-in 100ms, color 200ms ease-in 100ms, text-shadow 200ms ease-in 100ms;
}
div#menu a:hover { color:white; background-color:rgba(0,0,0,0.2); }
div#menu a.active { color:black; }
div#main {
	width:900px;
	margin:5px auto;
	padding:0;
	background-color:white;
	border-radius:6px;
	min-height:500px;
	-moz-box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
	box-shadow: 0px 5px 15px rgba(0,0,0,0.6);
}
div#main a, div#main a:visited { color:#222; }
div#main a:hover, div#main a:active { color:black; text-decoration:none; }
div#content { padding:5px 10px; }
div#footer {
	text-align:right;
	font-size:small;
	color:#777;
	padding:5px 5px 5px 5px;
	margin:0px auto 10px auto;
	width:890px;
}
div#footer a, div#footer a:visited { color:#888; }
div#footer a:hover, div#footer a:active { color:#888; text-decoration:none; }
div#loading { display:none; float:right; margin-top:25px; }
div.halfleft { width:49%; float:left; }
div.halfright { width:49%; float:right; }
div.choser { text-align:right; margin-bottom:10px; }
div.warning { padding:2px 10px 2px 60px; margin:15px; background:#FAFAFA url("../img/warning.png") no-repeat 15px center; border:2px dashed orange; }
div.clear { clear:both; }
div.file { background-color:#FAFAFA; border:1px solid #ccc; padding:5px 15px; margin:10px; }
div#success { color:green; text-align:center; font-size:large; display:none; }
div#failure { color:red; text-align:center; font-size:large; display:none; }
table.form { margin:auto; }
table.form th { text-align:left; }
table.form input { background-color:#DDDDDD; padding:3px; border:0; }